<h2 class="display-3">Tareas</h2>
<tr>
<tr>
<tr>
<tr>
<button class="btn btn-outline-success"
  [routerLink]="['/dashboard/tarea']">Regresar</button>
<button class="btn btn-outline-primary"
[routerLink]="['/dashboard/tarea', 'nuevo']">Nuevo Tarea</button>
<hr>
<div class="alert alert-success alert-dismissible fade show" role="alert"
*ngIf="notificacion.estado">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>
</div>

<div *ngIf="formularioTarea">
  <form (ngSubmit)="guardarCambios()"
    [formGroup]="formularioTarea">
    <div class="form-group row" [ngClass]="{'has-danger': !formularioTarea.controls['titulo'].valid  }">
      <label class="col-2 col-form-label">Titulo</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="titulo">
        <div class="form-control-feedback"
        *ngIf="formularioTarea.get('titulo').errors?.required">
            Este campo es requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Descripcion</label>
      <div class="col-10">
        <textarea class="form-control" rows="8" cols="80"
        formControlName="descripcion"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha de Apertura</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local"
        formControlName="fechaInicio">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha Final</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local"
        formControlName="fechaFinal">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Estado de la tarea</label>
      <select class="form-control" formControlName="estado">
        <option value="apertura">Apertura</option>
        <option value="intermedio">Intermedio</option>
        <option value="avanzado">Apertura</option>
      </select>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <button
          [disabled]="!formularioTarea.valid"
          type="submit" class="btn btn-outline-primary">
          Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>
