<!-- <h1>Usuario</h1>
      <hr>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nick</th>
            <th>Contraseña</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.idUsuario}}</td>
            <td>{{usuario.nick}}</td>
            <td>{{usuario.contrasena}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-warning"
                (click)="cargarUsuario(usuario.idUsuario, usuario.nick, usuario.contrasena)">Editar</button>
                <button type="button" (click)="eliminarUsuario(usuario.idUsuario)" class="btn btn-outline-danger">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="col-md-6">
      <h2>Agregar Usuario</h2><hr>
      <form [formGroup]="agregarUsuarioForm" (ngSubmit)="agregarUsuario()">
        <div class="form-group row">
          <label for="nickInput" class="col-2 col-form-label">Nick</label>
          <div class="col-10">
            <input class="form-control" type="text"
              id="nickInput" formControlName="nick">
          </div>
        </div>
        <div class="form-group row">
          <label for="contrasenaInput" class="col-2 col-form-label">Contrasena</label>
          <div class="col-10">
            <input class="form-control" type="text"
              id="contrasenaInput" formControlName="contrasena">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-10" style="pagregaring: 0px 0px 0px 105px">
            <button [disabled]="!agregarUsuarioForm.valid"
                    type="submit" class="btn btn-outline-success">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  <div class="row">
    <div *ngIf="activacionFormEditar">
      <div class="col-md-12">
        <h2>Editar Usuario</h2>
        <form [formGroup]="editarUsuarioForm" (ngSubmit)="editarUsuario()">
          <div class="form-group row">
            <label for="nickInput" class="col-2 col-form-label">Nick</label>
            <div class="col-10">
              <input class= "form-control" type="hidden" id="idUsuarioInput" formControlName="idUsuario">
              <input class="form-control" type="text"
                id="nickInput" formControlName="nick">
            </div>
          </div>
          <div class="form-group row">
            <label for="contrasenaInput" class="col-2 col-form-label">Contraseña</label>
            <div class="col-10">
              <input class= "form-control" type="hidden" id="idUsuarioInput" formControlName="idUsuario">
              <input class="form-control" type="text"
                id="contrasenaInput" formControlName="contrasena">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-10" style="pagregaring: 0px 0px 0px 105px">
              <button [disabled]="!editarUsuarioForm.valid"
                      type="submit" class="btn btn-outline-primary">Editar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
-->
