<h1 class="display-3">Categorias</h1>
<tr>
<tr>
<tr>
<tr>  
  <button class="btn btn-outline-primary"
  [routerLink]="['/dashboard/categoria', 'nueva']">Nuevo Categoria</button>
  <hr>
  <div class="container">
    <div class="card-columns">
      <div class="card"
      *ngFor="let categoria of categorias">
      <div class="card-block">
        <h4 class="card-title">{{ categoria.nombreCategoria | uppercase }}</h4>
        <footer>
          <button
          (click)="borrarCategoria(categoria.idCategoria)"
          class="btn btn-block btn-outline-danger">
          <strong>Eliminar</strong>
          </button>
          <button
            [routerLink]="['/dashboard/categoria', categoria.idCategoria]"
            class="btn btn-block btn-outline-success">
            <strong>Ver mas</strong>
          </button>
        </footer>
      </div>
    </div>
  </div>
</div>
